{% extends "base.html" %}
{% load static %}
{% block content %}
    {% spaceless %}
        <div>
            <ol class="breadcrumb">
                <li><a href="/">Main Page</a></li>
                <li><a href="{% url 'articles-list' %}">Articles</a></li>
                <li>{{ item.title|upper }}</li>
            </ol>
            <div class="article-block">
                <h3>
                    {{ item.title }}
                </h3>
                <h5>
                    {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
                </h5>
                {{ item.description|escape|safe }}
                {% if item.images.all %}
                    {% include 'fotorama.html' with images=item.images.all %}
                {% endif %}
            </div>
            <div class=‘clearfix’></div>
        </div>
    {% endspaceless %}
{% endblock %}
